---
import Layout from "../layouts/Layout.astro";

---

<Layout title="No encontrado - Sunshine Party Deco">
  <main class="flex items-center justify-center w-dvw h-dvh overflow-hidden">
    <h1 class="flex items-center font-mono text-xl">
      404
      Página no encontrada
    </h1>
  </main>
</Layout>
