---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import About from '../sections/About.astro';
import Services from '../sections/Services.astro';
import Products from '../sections/Products.astro';
import Info from '../sections/Info.astro';
import Contact from '../sections/Contact.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Sunshine Party Deco">
	<Header />

	<main>
		<Hero />
		<About />
		<Services />
		<Products />
		<Info />
		<Contact />
	</main>

	<Footer />
</Layout>

<style>
	
</style>
