---
import CtaBtn from "../components/CtaBtn.astro";
---
<section class="text-center py-20 px-2 max-w-[1300px] mx-auto" id="about">
  <div class="inline-flex items-center justify-center w-full">
    <hr
      class="inline-block w-56 h-[0.10rem] bg-gray-300 border-0 rounded"
    />
    <div
      class="absolute px-4 -translate-x-1/2 bg-[#FFFFFC] left-1/2"
    >
      <span
        class="inline-block text-sm opacity-80"
        >Conocenos
      </span>
    </div>
  </div>
  </div>

  <h2
    class="text-center text-2xl md:text-4xl font-bold mt-6 mb-20 text-balance"
  >
    Sobre nosotras
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <article class="flex items-center">
      <div>
        <p class="text-justify text-xl md:text-1xl text-pretty">
          Hola! <span class="font-bold"
            >Somos Sole y Flor de Sunshine PartyDeco</span
          >. Nos encantaría ser parte de tu evento y convertirlo en un momento
          único. Todos los trabajos que realizamos son personalizados. Pensamos
          juntas cada detalle <span class="font-bold"
            >para que el agasajado viva un día súper especial</span
          >. Por eso
          <span class="font-bold"
            >te invitamos a que completes el siguiente formulario</span
          >, donde ya le estás dando vida a todas esas ideas que están dando
          vueltas por tu cabeza.
        </p>

        <div class="flex justify-center m-12">         

        <CtaBtn
        title="Completar Formulario"
        hrefA="https://tinyurl.com/sunshine-pd-form"
        />
        </div>
      </div>
    </article>

    <article>
      <img
        src="/about/about-pic.webp"
        class="max-w-full object-cover object-center rounded"
        alt="imagen festejo cumpleaños"
      />
    </article>
  </div>
</section>

