---

---

<section class="text-center py-20 px-4 w-full mx-auto" id="contact">
  <div class="inline-flex items-center justify-center w-full">
    <hr class="inline-block w-56 h-[0.10rem] bg-gray-300 border-0 rounded" />
    <div class="absolute px-4 -translate-x-1/2 bg-[#FFFFEC] left-1/2">
      <span class="inline-block text-sm opacity-80">Donde Encontrarnos</span>
    </div>
  </div>

  <h2 class="text-2xl md:text-4xl font-bold mt-6 mb-20 text-balance">
    Contacto
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center">
    <div class="flex justify-center mx-auto w-8/12">
      <form
        class="text-left rounded-md p-2 w-full"
        action="https://formspree.io/f/xjvnornq"
        method="POST"
      >
        <div class="mb-6">
          <label for="name" class="block mb-2 text-sm font-medium">Nombre</label
          >
          <input
            type="text"
            name="name"
            id="name"
            required
            class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Alicia"
            required
          />
        </div>

        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-black"
            >Email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="tu@email.com"
            required
          />
        </div>

        <div class="mb-6">
          <label
            for="subject"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Asunto</label
          >
          <input
            type="text"
            id="subject"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Presupuesto"
            required
          />
        </div>

        <div class="mb-6">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900">Mensaje</label
          >
          <textarea
            id="message"
            name="message"
            rows="4"
            required
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Hola, quiero información sobre su servicio..."
          ></textarea>
        </div>

        <div class="flex justify-center">
          <button class="formBtn" type="submit" style="rgb(251, 255, 0)"
            >Enviar</button
          >
        </div>
      </form>
    </div>

    <article class="grid justify-center w-8/12 mt-12 md:mt-0 mx-auto">
      <ul>
        <li class="flex py-2 md:py-3 hover:underline">
          <div class="icon-container">
            <img
              style="width: 1.8rem;"
              src="/icons/instagram.png"
              alt="logo instagram"
            />
          </div>
          <a
            href="https://instagram.com/sunshine_partydeco"
            target="_blank"
            class="text-sm mx-1 place-content-center">@sunshine_partydeco</a
          >
        </li>

        <li class="flex py-2 md:py-3 hover:underline">
          <div class="icon-container">
            <img style="width: 1.8rem;" src="/icons/mail.png" alt="logo mail" />
          </div>
          <a
            href="mailto:sunshine_partydeco@gmail.com"
            target="_blank"
            class="text-sm mx-1 place-content-center"
          >
            sunshine.partydeco@gmail.com</a
          >
        </li>
      </ul>

      <p>Nos encontramos en el barrio de Belgrano, CABA.</p>
      <p class="text-sm">Solo para retiro de mercadería con cita previa.</p>      
    </article>
  </div>
</section>

<style>
  form {
    background-color: rgba(126, 128, 108, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .formBtn {
    margin-top: 1rem;
    background-color: rgb(251, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 0.5rem;
    padding: 10px 40px;
    text-align: center;
    max-width: 200px;
    cursor: pointer;
    font-weight: bold;
  }
  .formBtn:hover {
    background-color: rgb(227, 231, 3);
  }
  .formBtn:active {
    background-color: rgb(184, 187, 2);
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgba(31, 41, 55, 0.11);
  }
  .icon-container:hover {
    background-color: rgba(31, 41, 55, 0.322);
  }
  .icon-container:active {
    background-color: rgba(31, 41, 55, 0.589);
  }
</style>
