
  <footer class="rounded-tl-3xl rounded-tr-3xl w-full mx-auto px-4 py-4 mt-4"> <!-- md:py-8 -->
    
      <div class="flex flex-wrap justify-center space-x-2 md:justify-between">
        <a
          href="#"
          class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
        >
          <img src="/logo-sunshine.png" class="h-8" alt="Sunshine Logo" />
          <span
            class="self-center text-2xl text-yellow-200 font-extrabold whitespace-nowrap uppercase"
            >Sunshine</span
          >
        </a>

        <ul
          class="flex flex-wrap items-center text-xl sm:mb-0 space-x-1"
        >
          <li class="icon-container">
            <a href="https://instagram.com/sunshine_partydeco" target="_blank"
              ><ion-icon name="logo-instagram"></ion-icon></a
            >
          </li>

          <li class="icon-container">
            <a
              href="https://wa.me/1123699504?text=Hola%20Flor,%20te%20contacto%20desde%20la%20web%20de%20Sunshine"
              target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a
            >
          </li>

          <li class="icon-container">
            <a href="mailto:sunshine.partydeco@gmail.com" target="_blank"
              ><ion-icon name="mail-outline"></ion-icon></a
            >
          </li>

          <li class="icon-container">
            <a href="#" class="hover:underline"
              ><ion-icon name="chevron-up"></ion-icon></a
            >
          </li>
        </ul>
      </div>
      <hr class="my-6 border-black sm:mx-auto lg:my-8" />
      <span class="block text-sm text-yellow-200 sm:text-center"
        >
        <>© 2024 <a href="#" class="hover:underline">Sunshine PartyDeco™.</a> Todos los derechos reservados</p>
        <p>Powered by <a
          href="https://dagsan.dev"
          class="hover:underline"
          target="_blank">dagsan.dev
          </a>
        </p>
      </span>
    
  </footer>


<style>
  footer {
    background-color: rgba(0, 0, 0, 0.918);
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    color: rgb(254 240 138);
    background-color: rgba(31, 41, 55, 0.322);
  }
  .icon-container:hover {
    background-color: rgba(31, 41, 55, 0.568);
    cursor: pointer;
  }
  .icon-container:active {
    background-color: rgba(31, 41, 55, 0.842);
  }
</style>
