<footer class="bg-white rounded-lg shadow ">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="flex flex-wrap justify-center space-x-2 md:justify-between">

            <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/logo-sunshine.png" class="h-8" alt="Sunshine Logo" />
                <span class="self-center text-2xl font-extrabold whitespace-nowrap uppercase">Sunshine</span>
            </a>

            <ul class="flex flex-wrap items-center text-xl  text-gray-500 sm:mb-0 space-x-4">
        
                <li>
                    <a href="https://instagram.com/sunshine_partydeco" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
                </li>

                <li>
                    <a href="https://wa.me/1123699504?text=Hola%20Flor,%20te%20contacto%20desde%20la%20web%20de%20Sunshine" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
                </li>

                <li>
                    <a href="mailto:sunshine.partydeco@gmail.com" target="_blank"><ion-icon name="mail-outline"></ion-icon></a>
                </li>

                <li>
                    <a href="#" class="hover:underline me-4 md:me-6"><ion-icon name="chevron-up"></ion-icon></a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center">© 2024 <a href="#" class="hover:underline">Sunshine PartyDeco™</a>. Todos los derechos reservados | Developed by <a href="https://instagram.com/clarcode.tech" class="hover:underline">Clarcode.Tech</a></span>
    </div>
</footer>

