---

---

<section class="text-center p-5">

    <div class="inline-flex items-center justify-center w-full">
        <hr class="hidden md:inline-block w-56 h-[0.10rem] bg-gray-300 border-0 rounded">
        <div class="absolute px-4 -translate-x-1/2 bg-light-primary left-1/2">
          <span class="hidden md:inline-block md:text-sm opacity-80">Abonado y Envío</span>
        </div>
    </div>   
    <h2 class="text-2xl md:text-4xl p-5 font-bold animate-fade-in-left">Medios de Pago y Envíos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2">
        <article>
            
            <p class="font-bold">Transferencia bancaria</p>
            <p class="font-bold">Efectivo</p>
            <p class=font-bold>Mercado Pago</p>
            <p class="text-sm">Se solicita el 50% de seña para congelar el precio.</p>
            <p class="text-sm">Este presupuesto tiene una validez de 3 días.</p>
        </article>

        <article class="font-bold">
            <p>Envíos a cargo del comprador</p>
            <p>A coordinar</p>
        </article>
    </div>

</section>