---
import CtaBtn from "../components/CtaBtn.astro";
---

<section class="text-center py-20 px-2 max-w-[1300px] mx-auto" id="products">

  <div class="text-center" id="products">
    <div class="inline-flex items-center justify-center w-full">
      <hr
        class="inline-block w-56 h-[0.10rem] bg-gray-300 border-0 rounded"
      />
      <div
        class="absolute px-4 -translate-x-1/2 bg-[#FFFFF3] left-1/2"
      >
        <span
          class="inline-block text-sm opacity-80"
          >Nuestros Productos
        </span>
      </div>
    </div>
  </div>

  <h2
    class="text-center text-2xl md:text-4xl font-bold mt-6 mb-20 text-balance"
  >
    Galería
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div>
      <img
        class="tag-img"
        src="gallery/product1.PNG"
        alt="imagen producto 1"
        loading="lazy"
      />
    </div>
    <div>
      <img
        class="tag-img"
        src="gallery/product2.PNG"
        alt="imagen producto 2"
        loading="lazy"
      />
    </div>
    <div>
      <img
        class="tag-img"
        src="gallery/product3.PNG"
        alt="imagen producto 3"
        loading="lazy"
      />
    </div>
    <div>
      <img
        class="tag-img"
        src="gallery/product4.PNG"
        alt="imagen producto 4"
        loading="lazy"
      />
    </div>
    <div>
      <img
        class="tag-img"
        src="gallery/product5.PNG"
        alt="imagen producto 5"
        loading="lazy"
      />
    </div>
    <div>
      <img
        class="tag-img"
        src="gallery/product6.PNG"
        alt="imagen producto 6"
        loading="lazy"
      />
    </div>
    <div>
      <img
        class="tag-img"
        src="gallery/product7.PNG"
        alt="imagen producto 7"
        loading="lazy"
      />
    </div>
    <div>
      <img
        class="tag-img"
        src="gallery/product8.PNG"
        alt="imagen producto 8"
        loading="lazy"
      />
    </div>
    <div>
      <img
        class="tag-img"
        src="gallery/product9.PNG"
        alt="imagen producto 9"
        loading="lazy"
      />
    </div>
  </div>

  <div class="flex justify-center mx-auto my-4 md:mt-20">
    <CtaBtn
      title="Visitar Instagram"
      hrefA="https://instagram.com/sunshine_partydeco"
    />
  </div>
</section>

<style>
  .tag-img {
    @apply max-w-full h-full object-cover object-center rounded-lg;
  }
</style>
