<div class="text-center m-5 p-5 bg-light-primary" id="services">
    
    <span class="hidden md:inline-block md:text-sm opacity-80">Nuestro servicio</span>
    <h2 class="text-2xl md:text-4xl font-bold p-5 animate-fade-in-left">Papelería Creativa para Eventos</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        
        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">
            <h5 class=" text-2xl font-bold text-dark-primary dark:text-white">Banderines</h5>
        </div>                

        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">

            <h5 class="mb-2 text-2xl font-bold text-dark-primary dark:text-white">Toppers</h5>

        </div> 

        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">
            <h5 class="mb-2 text-2xl font-bold text-dark-primary dark:text-white">Cake Toppers</h5>
        </div>
        
        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">
            <h5 class="mb-2 text-2xl font-bold text-dark-primary dark:text-white">Letras 3D</h5>
        </div>

        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">
            <h5 class="mb-2 text-2xl font-bold text-dark-primary dark:text-white">Souvenirs</h5>
        </div>   
        
        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">
            <h5 class="mb-2 text-2xl font-bold text-dark-primary dark:text-white">Foto Imán</h5>
        </div>

        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">
            <h5 class="mb-2 text-2xl font-bold text-dark-primary dark:text-white">Milk Box</h5>
        </div>

        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">
            <h5 class="mb-2 text-2xl font-bold text-dark-primary dark:text-white">Tarjetería</h5>
        </div>

        <div class="block p-6 transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-105 duration-300 bg-light-secondary border border-gray-200 rounded-lg shadow hover:bg-light-tertiary">
            <h5 class="mb-2 text-2xl font-bold text-dark-primary dark:text-white">Etiquetas</h5>
        </div>
   
    </div>
</div>