---
import Card from "../components/Card.astro";
---

<div class="text-center py-20 px-2 max-w-[1300] mx-auto" id="services">
  <div class="inline-flex items-center justify-center w-full">
    <hr
      class="inline-block w-56 h-[0.10rem] bg-gray-300 border-0 rounded"
    />
    <div
      class="absolute px-4 -translate-x-1/2 bg-light-primary left-1/2 dark:bg-gray-900"
    >
      <span class="inline-block text-sm opacity-80 animate-fade-in-up animate-delay-400"
        >Nuestro Servicio</span
      >
    </div>
  </div>
  <h2
    class="text-2xl md:text-4xl font-bold mt-6 mb-20 animate-fade-in-up animate-delay-400 text-balance"
  >
    Papelería Creativa para Eventos
  </h2>  

  
  <div class="grid grid-cols-1 place-items-center md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-6xl mx-auto">
    <Card
      title="Banderines"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

    <Card
      title="Toppers"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

    <Card
      title="Cake Toppers"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

    <Card
      title="Letras 3D"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

    <Card
      title="Souvenirs"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

    <Card
      title="Foto Imán"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

    <Card
      title="Milk Box"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

    <Card
      title="Tarjetería"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

    <Card
      title="Etiquetas"
      body=""
      hrefA="https://sunshine-partydeco.vercel.app"
      hrefImg="/gallery/product1.PNG"
      alt="imagen producto"
    />

  </div>
</div>
